body {
	font-family: 'Lato', sans-serif;
	color: #676858;
	font-weight: 300;
}

hr {
	background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 3px;
}
.text-muted {
	color: #BCBBBB;
}
.text-thin {
	font-weight: 100;
}
#logo {
	width: 100px;
}

#bridge {
	width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}

.col-md-4 {
	margin-bottom: 10px;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}